# Configuration for LulzCapita.

[secret]
# This section defines CouchDB database URI (containing possible
# credentials) and salt value for banking ID obfuscation.
db_uri = http://user:password@127.0.0.1:5984
salt = change me

# You may leave the following options as-is, if you don't need to do
# any weird things.

[location]
# Names of CouchDB databases.
db = lulzcapita
# Location of this service in virtual host.
base_url = /bin/
# Log directory
log_dir = portfolio_log
